<div class="container-fluid ">
    <div class="row">
        <div class="mx-auto">
            <div class="card login-container text-center">
                <h3><i class="fas fa-book-reader"></i> Story Books</h3>
                <p>Create Private and public Stories from your life</p>
                <div class="card-footer bg-transparent">
                    <a href="/auth/google" class="btn btn-danger"><i
                            class="fab fa-google text-left">&nbsp;&nbsp;</i>Login
                        In With
                        Google</a>
                </div>
            </div>
        </div>
    </div>
</div>